/Library
/Logs
/obj
/Build
/Temp
/Build-Release
/.vs
/Build-Win64
/Build-Android
/copydll.bat
/Debug
/.idea/
/update_unity_libil2cpp.bat
/*.csproj
/*.sln
/Build-Win64-2
/Build-Android2
/Build-Android-2020.3.33
/Build-Win64-2020.3.33
/Build-Win64-2021.3.1
/UserSettings/Layouts
/Build-Android-2021.3.1
/Release
/HybridCLRData/
/Release-Win64
/Build-Android64
/Build-AndroidV7
/Assets/HybridCLRBuildCache
/Assets/HybridCLRBuildCache.meta
/Release-Android
/Release-Win32
/Build-WebGL
/Assembly-CSharp-Editor.csproj.user
/Build-AndroidV8
Build-Mac
/Build-iOS
/HybridCLRData
/Packages/com.focus-creative-games.hybridclr_unity
/UserSettings
/.vsconfig
/GradleProject
/XcodeProject
/GradleProject_FixFreezingInAsyncResourceUploadBlocking
/Backup_DisableAssetBundleCompatibilityChecks
/Backup_FixFreezingInAsyncResourceUploadBlocking
/DisableAssetBundleCompatibilityChecks
/FixFreezingInAsyncResourceUploadBlocking
/GradleProject_DisableAssetBundleCompatibilityChecks
/DisableAssetBundleCompatibilityChecks.apk
/FixFreezingInAsyncResourceUploadBlocking.apk
/OpenHarmonyProject
/Il2CppBackup
/OpenHarmony_DisableAssetBundleCompatibilityChecks
/OpenHarmonyBackup_DisableAssetBundleCompatibilityChecks
/HybridCLRTrial_BackUpThisFolder_ButDontShipItWithYourGame
/XcodeProject_DisableAssetBundleCompatibilityChecks
/AndroidBackup_FixFreezingInAsyncResourceUploadBlocking
/AndroidBackup_DisableAssetBundleCompatibilityChecks
/demo/HybridCLRTrial/Assets/HybridCLRBuildCache.meta
/demo/HybridCLRTrial/Assets/HybridCLRBuildCache
/src/UnityBinaryFileRewriter/.vsconfig
/src/UnityBinaryFileRewriter/Library
/src/UnityBinaryFileRewriter/Logs
/src/UnityBinaryFileRewriter/UserSettings
/src/UnityBinaryFileRewriter/*.sln
/src/UnityBinaryFileRewriter/*.csproj
/src/UnityBinaryFileRewriter/Temp
/src/UnityBinaryFileRewriter/obj
/src/UnityBinaryFileRewriter/.vs
/src/UnityBinaryFileRewriter/GradleProject_DisableAssetBundleCompatibilityChecks
/src/UnityBinaryFileRewriter/Backup_DisableAssetBundleCompatibilityChecks
/demo/HybridCLRTrial/*.sln
/demo/HybridCLRTrial/*.csproj
/demo/HybridCLRTrial/.vsconfig
/demo/HybridCLRTrial/HybridCLRData
/demo/HybridCLRTrial/Library
/demo/HybridCLRTrial/Temp
/demo/HybridCLRTrial/GradleProject
/demo/ShaderVariant/.vsconfig
/demo/ShaderVariant/Library
/demo/ShaderVariant/Logs
/demo/ShaderVariant/Temp
/demo/ShaderVariant/UserSettings
/demo/ShaderVariant/*.csproj
/demo/ShaderVariant/*.sln
/demo/ShaderVariant/.vs
/demo/ShaderVariant/obj
/demo/ShaderVariant/*.apk
/src/UnityBinaryFileRewriter/GradleProject_FixFreezingInAsyncResourceUploadBlocking
/src/UnityBinaryFileRewriter/AndroidBackup_DisableAssetBundleCompatibilityChecks
/src/UnityBinaryFileRewriter/AndroidBackup_FixFreezingInAsyncResourceUploadBlocking
/src/UnityBinaryFileRewriter/DisableAssetBundleCompatibilityChecks
/src/UnityBinaryFileRewriter/FixFreezingInAsyncResourceUploadBlocking
/src/UnityBinaryFileRewriter/*.apk
/demo/FreezeRepro/.vsconfig
/demo/FreezeRepro/.vs
/demo/FreezeRepro/Library
/demo/FreezeRepro/Logs
/demo/FreezeRepro/obj
/demo/FreezeRepro/Temp
/demo/FreezeRepro/*.csproj
/demo/FreezeRepro/*.sln
/demo/HybridCLRTrial/Release-WebGL
/demo/HybridCLRTrial/Release-Win64
/demo/HybridCLRTrial/UserSettings
/demo/HybridCLRTrial/.vs
/demo/HybridCLRTrial/Logs
/demo/HybridCLRTrial/obj
